$theme: "jpm" !default;

/*-- scss:defaults --*/

/* Variables */
$brand-color: #DFE8F3;
$highlight: lighten($brand-color, 35%);
$text-color: #7C225C;
$muted-text-color: #373a3c;
$code-blue: #D9E8F3 !default;
$rose: #c7254e !default;
$dad: #dad;
$font-family: "Reforma1918" !default;
$code-font-family: "Source Code Pro" !default;

$on-bigphone: 375px;
$on-tablet: 768px;
$on-laptop: 960px;
$on-desktop: 1200px;

/*-- scss:mixins --*/

@mixin divider {
  border: 0;
  display: block;
  width: 152px;
  height: 12px;
  margin: .5em auto 0;
  background: url('/assets/images/divider.svg') no-repeat top center;
}

/*-- scss:rules --*/

/* Font Face */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('assets/fonts/eb-garamond-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('EB Garamond Regular'), local('EBGaramond-Regular'),
       url('assets/fonts/eb-garamond-v9-latin-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/eb-garamond-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/eb-garamond-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/eb-garamond-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/eb-garamond-v9-latin-regular.svg') format('svg'); /* Legacy iOS */
}

/* Webfont: Reforma 1918 Blanca */
@font-face {
    font-family: 'Reforma1918';
    src: url('assets/fonts/Reforma1918-Blanca.woff2') format('woff2'), /* /* Super Modern Browsers */
         url('assets/fonts/Reforma1918-Blanca.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/Reforma1918-Blanca.eot') format('woff'),
         url('assets/fonts/Reforma1918-Blanca.ttf') format('truetype');	 /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

$web-font-path: "https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" !default;

@if $web-font-path {
    @import url($web-font-path);
}

/* Site Masthead */
.site-masthead {
  box-sizing: border-box;
  position: relative;
  text-align: center;

  h1 {
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 1em;
    padding: 0 2rem;
    text-align: center;

    @media (min-width: $on-tablet) {
      font-size: 6em;
    }
  }

  h2 {
    color: $muted-text-color;
    font-size: 1.25em;
    margin: 0;
    padding: 0 2rem;

    @media (min-width: $on-tablet) {
      font-size: 3em;
    }
  }
}

/* Site Navigation */
.navbar {
  margin-top: 0rem;
  padding: 0 1rem;
  background: $brand-color;
  color: $text-color;

  &:hover,
  &:focus-within {
    a {
      opacity: .7;
    }
  }

  .navbar-brand {
    display: block;
    color: $text-color;
  }

  .nav-link {
    display: block;
    color: $text-color;
    text-align: center;
  }

  .nav-link.active {
    display: block;
    color: $text-color;
  }

  .aa-SubmitIcon {
    width: 26px;
    height: 26px;
    color: $brand-color;
    opacity: 1;
  }

  ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    list-style: none;
    font-size: 1em;
    font-variant: small-caps;
    margin: 0;
    position: relative;

    &.active a {
      text-decoration: none;
    }
  }

  a {
    display: block;
    padding: .25em .5em;
    text-decoration: none;
    transition: opacity .125s ease-in-out;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

pre.text, pre.sourceCode, .cell-output pre {
  font-size: 0.65em;
  font-family: $code-font-family;
  font-weight: 400;
  font-optical-sizing: auto;
  color: $rose;
  background-color: $code-blue;
  border-radius: 5px;
}

/* Post List */
.post-list {
  margin: 1em 0;
  list-style: none;

  &:hover,
  &:focus-within {
    .post-link {
      opacity: .6;
    }
  }

  li {
    margin-bottom: 1em;
  }
}

/* Post Link */
.post-link {
  color: $text-color;
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  padding: .25em;
  transition: opacity .125s ease-in-out;

  &:hover,
  &:focus {
    opacity: 1 !important;
  }

  @media (min-width: $on-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .post-date {
      margin-left: auto;
    }
  }

  &__heading {
    display: block;
    margin-right: 4em;

    @media (min-width: $on-tablet) {
      padding: .25em 0;
    }

    h1 {
      font-size: 1em;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__title + &__excerpt {
    opacity: .6;
  }
}

/* Post Pagination */
.post-pagination {
  margin-top: 4rem;
  font-size: .75em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;

  > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1em 0;
  }

  &:hover,
  &:focus-within {
    a {
      opacity: .6;
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .125s ease-in-out;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

/* Post */

.quarto-title-block .haiku {
    text-align: right;
    margin: 1.3em 0;
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    color: $text-color;
}


body {
  background: $brand-color;
  color: $muted-text-color;
  font-family: $font-family;
  font-size: 1.325em;
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;
  margin: 2em auto;
  max-width: 68rem;
  padding: 2em 0;
  box-shadow: 6px 18px 48px rgba(darken($brand-color, 50%), .1);

  > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 65rem;
    padding: 0 1em;
  }

  > h1 {
    font-size: 2em;
    max-width: 48rem;
    padding: 2em 1em;
    text-align: center;
  }

  p {
    text-align: justify;
    text-indent: 1.5em;
    text-justify: inter-word;

    &:first-of-type,
    h2 + & {
      text-indent: 0;
    }
  }

  a:hover {
    background: $highlight;
  }

  dl,
  ul,
  ol {
    margin: 1.5em;
  }

  li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  &-content:first-child {
    margin-top: 4em;
  }

  &-meta {
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: right;
  }
}

/* Back Link */
.back-link {
  display: inline-block;
  font-size: .75em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

/* Body */

h1 {
  font-size: 3em;
  margin: .5em auto;
}

h2 {
  font-size: 2em;
  margin: 1em auto;
  text-align: left;
}

h3 {
  font-size: 1.5em;
  margin: 1.3333em auto;
  text-align: left;
}

h4 {
  font-size: 1.25em;
  font-style: italic;
  margin: 1.875em auto;
  text-align: left;
}

h5 {
  font-size: 1em;
  font-style: italic;
  margin: 2em auto;
  text-align: left;
}

h6 {
  font-size: .875em;
  font-style: italic;
  margin: 2.25em auto;
  text-align: left;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  color: $text-color;

  &:focus {
    outline: 1px dashed $text-color;
  }
}

blockquote {
  margin: 2em auto;
  opacity: .8;

  > * {
    padding: 0 3em;
  }

  &.epigraph {
    font-style: italic;
  }
}

small {
  font-size: .75em;
}

p > cite {
  display: block;
  text-align: right;
}

hr {
  @include divider;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 2em auto;
}

figure img {
  margin: 2em auto 1em;
}

figcaption {
  font-size: .875em;
  font-style: italic;
  text-align: center;
  margin-bottom: 2em;
}

.divided::after {
  @include divider;
}
